/* Page-wide styles */
:root {
  background: white;
  color: black;
  font-family: "Arial", "Helvetica", sans-serif;
}

/* Tables */
table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  height: 2em;
  width: 100%;
}

th {
  cursor: default;
}

th, td {
  border: 1px solid lightgray;
  padding: 5px;
}

td:focus {
  outline: 1.5px solid black;
}

/* Dark mode colors */
@media (prefers-color-scheme: dark) {
  :root {
    background: #181818;
    color: #EEEEEE;
  }

  th, td {
    border-color: #444444;
  }

  td:focus {
    outline-color: #C8C8C8;
  }
}
