/* Page-wide styles */
:root {
  background: white;
  color: black;
  font-family: "Arial", "Helvetica", sans-serif;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

section:not(:last-child) {
  margin-bottom: 10px;
}

/* Controls */
.controls > div {
  display: inline-block;
}

.controls > :not(:last-child) {
  border-right: 1px solid black;
  margin-right: 7px;
  padding-right: 7px;
}

.controls > div > :not(:last-child) {
  margin-right: 5px;
}

button, input[type=button], input[type=file], input[type=reset],
input[type=submit], .button {
  background: #EEEEEE;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px;
}

/* Tables */
table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  height: 2em;
  width: 100%;
}

th {
  background: #F0F0F0;
  cursor: default;
}

th, td {
  border: 1px solid lightgray;
  padding: 5px;
}

td:focus {
  outline: 1.5px solid black;
  outline-offset: -0.75px;
}

/* Dark mode colors */
@media (prefers-color-scheme: dark) {
  :root {
    background: #181818;
    color: #EEEEEE;
  }

  th {
    background: #303030;
  }

  th, td {
    border-color: #444444;
  }

  td:focus {
    outline-color: #C8C8C8;
  }

  button, input[type=button], input[type=file], input[type=reset],
  input[type=submit], .button {
    background: #444444;
    color: #EEEEEE;
    border-color: #676767;
  }
}
